<html lang="fr"><head>
    <title>404</title>
    <link rel="shortcut icon" type="image/png" href="https://webhostingmedia.net/wp-content/uploads/2018/01/http-error-404-not-found.png?size=128">
    <link rel="stylesheet" href="css/404.css">
</head>
<body translate="no">
<div class="background-img">
<div class="space"></div>
<div class="wrapper">
<div class="img-wrapper">
<span>44</span>
</div>
<p>la page que vous avez essayer de chercher a été <br> téléporter dans un autre univers.</p>
<a href="/"><button type="button" href="/">retourner au menu</button></a>
<br>
<br>
<p style="font-size: 10px;">credit to @hkmtqffr on codepenIO : https://codepen.io/hkmtqffr/pen/dVPewm</p>

</div>
</div>
<!-- credit to @hkmtqffr on codepenIO : https://codepen.io/hkmtqffr/pen/dVPewm -->
</body></html>