<!DOCTYPE html>
<html>
  <head>
    <title>Your Name - Profile</title>
    <script src="script/jquery.js"></script>
    <link rel="stylesheet" href="css/common.css">

    <link rel="stylesheet" href="css/dark_mode.css" id="default_css">
    <script src="js/import_css.js"></script>
    <script src="js/user_profile.js"></script>
    <script src="js/login_register.js"></script>
    <script src="template/import_navbar.js"></script>
  </head>
  <body>
    <section class="container" id="profile_container">
      <h1>Your profile</h1>
      <div class="profile-info">
        <div id="infos">
          <ul>
            <li>
                <label for="name">Prénom :</label>
                <span id="name">chargement...</span>
            </li>
            <li>
                <label for="first-name">Nom :</label>
                <span id="first-name">chargement...</span>
            </li>
            <li>
                <label for="email">Email :</label>
                <span id="email">chargement...</span>
            </li>
            <li>
                <label for="phone_number">Numéro de téléphone :</label>
                <span id="phone_number">chargement...</span>
            </li>
            <li>
                <label for="adress">adresse :</label>
                <span id="adress">chargement...</span>
            </li>
        </ul>
        </div>
        <p id="check" style="color: #eee !important;" class="text--center"></p>
        <a href="/login" id="aa"></a>
        <div>
          <button onclick="switch_delete_profile()">Supprimer mon compte</button>
          <button onclick="location.href='/logout'">Se déconnecter</button>
        </div>
      </div>
    </section>
    <section class="container" id="delete_profile_container" style="display: none;">
      <h1>Supprimer mon compte</h1>
        <div id="form" class="form">
        <label for="password">Mot de passe:</label>
        <input type="password" id="delete_password" name="password" required>

        <label for="password">Confirmation du mot de passe:</label>
        <input type="password" id="delete_password2" name="password2" required>
        <p id="delete_check" style="color: #eee !important;" class="text--center"></p>
        <a href="/" id="delete_redirect"></a>
        <button onclick="delacc()">Supprimer mon compte</button>
        <button onclick="switch_delete_profile()">Annuler</button>
        
        </div>
    </section>
  </body>
</html>